@model DancingGoat.Models.Checkout.PaymentMethodViewModel

<div class="payment-selector">                        
    @Html.LabelFor(m => m.PaymentMethodID, new { @class = "delivery-label" })
    @Html.DropDownListFor(m => m.PaymentMethodID, Model.PaymentMethods, ResHelper.GetString("DancingGoatMvc.Payment.SelectPaymentMethod"))      
    <div class="message message-error">
        @Html.ValidationMessageFor(m => m.PaymentMethodID)
    </div>   
</div>
