
@{
    ViewBag.Title = "Unsubscription Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unsubscription failed</h2>
<p>The newsletter unsubscription did not succeed.</p>

<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>
