
@{
    ViewBag.Title = "Unsubscription Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unsubscription succeeded</h2>
<p>You were successfully unsubscribed from the newsletter.</p>

<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>
