
@{
    ViewBag.Title = "Form submission successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form submitted</h2>
<p>Your feedback form was successfully submitted.</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>