@using PagedList.Mvc;
@using DancingGoat.Models.Search;
@using DancingGoat.Infrastructure;

@model SearchResultsModel

@{
    ViewBag.Title = string.Format(ResHelper.GetString("DancingGoatMvc.Search.ResultsFor"), Model.Query);
}

<h2>@string.Format(ResHelper.GetString("DancingGoatMvc.Search.ResultsFor"), Model.Query)</h2>

@if (!Model.Items.Any())
{
    if (!String.IsNullOrWhiteSpace(Model.Query))
    {
        @:@string.Format(ResHelper.GetString("DancingGoatMvc.Search.NoResults"), Model.Query)
    }
}
else
{
    foreach (var item in Model.Items)
    {
        @Html.DisplayFor(m => item)
    }

    @Html.PagedListPager(
        Model.Items,
        i => Url.Action("Index", "Search", new { searchText = Model.Query, page = i }),
        new CustomPagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
    );
}
