
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Learning Kit</title>
</head>
<body>
    @RenderBody()
    @*DocSection:VisitorActionScript*@
    @* Registers scripts that ensure logging of campaign page visits and page-related activities *@
    @Scripts.Render(Url.RouteUrl("KenticoLogActivityScript"))
    @*EndDocSection:VisitorActionScript*@
</body>
</html>
