
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check your email";
}

<h2>New account requires confirmation</h2>
<p>
    You need to confirm your new user account before you can sign in. Please check your email.
</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>