
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New user account confirmed";
}

<h2>New user account confirmed</h2>
<p>
    Thank you for confirming your user account. You can now @(Html.ActionLink("Sign in", "SignIn", "Account")).
</p>