
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Email confirmation failed";
}

<h2>Email confirmation failed</h2>
<p>
    The link that you followed is invalid and email confirmation of the new user account failed.
</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>