
@{
    ViewBag.Title = "Password reset email sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset email sent</h2>
<p>
    The system has sent a password reset email to the specified address. Click the link within the email to reset your password.
</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>

