
@{
    ViewBag.Title = "Password reset successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset successful</h2>
<p>
    Your password was successfully changed. You can now @(Html.ActionLink("Sign in", "SignIn", "Account")).
</p>