
@{
    ViewBag.Title = "Password reset failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset failed</h2>
<p>
    The link that you followed is invalid and you cannot reset your password.
</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>
