@model IEnumerable<CMS.DocumentEngine.Types.DancingGoatMvc.SocialLink>

@foreach (var link in Model)
{
    <a class="followus-link" href="@link.Fields.Url" target="_blank">
        @Html.AttachmentImage(link.Fields.Icon, link.Fields.Title)
    </a>
}

