@model IEnumerable<CMS.Membership.UserInfo>

@{
    ViewBag.Title = "all users";
}

<div class="container">
    <h2>AllUsers</h2>
    <ul>
        @foreach (var user in Model)
        {
            <li><a href="@Url.Action("ManageUserRoles", new { userId = user.UserID } )">@user.FirstName @user.LastName (@user.Email)</a></li>
        }
    </ul>
</div>