@model Kentico.Membership.User

@{
    ViewBag.Title = "your account";
}

<div class="container">
    <h2>Your account</h2>
    <div class="row">
        <div class="col-md-4">
            <div>@Model.FirstName @Model.LastName</div>
            <div>@Model.Email</div>
        </div>
        <div class="col-md-4">
            <h3>Roles</h3>
            <ul>
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </div>
    </div>
</div>
