@model DancingGoat.Models.Subscription.UnsubscriptionModel
@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.News.Unsubscribtion");
}

<section class="row text-and-image">
    <div class="col-md-6">
        <div class="text-and-image-text">
            <img class="img-responsive" src="@Url.Content("~/Content/Images/empty_cup.jpg")" />
        </div>
    </div>
    <div class="col-md-6">
        <h2>@ResHelper.GetString(ViewData.ModelState.IsValid ? "DancingGoatMvc.News.UnsubscribeOK" : "DancingGoatMvc.News.UnsubscribeError")</h2>
        <p>
            <span class="InfoLabel">
                @if (!String.IsNullOrEmpty(Model.UnsubscriptionResult))
                {
                    @Model.UnsubscriptionResult
                }
                else
                {
                    @Html.ValidationMessage(String.Empty)
                }
            </span>
</p>
    </div>
</section>

