
@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.PasswordReset");
}

<h2>@ResHelper.GetString("DancingGoatMvc.PasswordReset.Succeeded")</h2>
@Html.ActionLink(ResHelper.GetString("DancingGoatMvc.SignIn"), "Login", null, new { @class = "btn btn-secondary" })