
@{
    ViewBag.Title = "Failed external authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External authentication failed</h2>
<p>
    Authentication via the external service was not successful.
</p>
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>